.head-title {
    position: absolute;
    width: 100%;
    height: 330px;
    left: 0;
    top: 0;

    background: #F6F9FF;
}

.article-text {
    margin-top: 403px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;

    font-family: Montserrat Alternates, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #444141;

    padding-bottom: 200px;
    white-space: pre-line;
}